{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<table border="1" cellpadding="1" cellspacing="1" width="130%" style="margin-top: 0px; border:0px solid #006699;">
    <tr bgcolor="blue">
        <th colspan="2" align="left">
            <font color="white" size="3">{{post.research_title}}</font>
            <br>
            <font color="white" size="3">{{post.authors}}</font>
        </th>
    </tr>
    <tr>
        <td width="320"><img src="{{ post.image }}" width="320" />
        </td>
        <td>
        {{post.description}}
        </td>
    </tr>
    <tr>
        <th colspan="2" align="left">
        <img width="20" src="/assets/icons/pdf.jpg" style="margin: 3px;"/>
        <a href="{{ post.paper_link }}" style="margin-left:-3px; margin-right: 3px;">[PDF]
        </a> 
        <img width="20" src="/assets/icons/ppt.png" style="margin-right: 3px;margin-left: -3px"/>
        <a href="{{ post.slides_link }}" style="margin-left:-3px; margin-right: 3px;">[Slides]
        </a> 
        </th>  
    </tr>
</table>
